@charset "utf-8";/* This code is to set screen size*/
/* CSS Document */

header, section, footer, aside, nav, main, article, figure
{ 
}
html {
    font-family: Josefin Slab; /* HTML will display in this font */
	background-color: lightslategray; /* This is the selected back-ground colour */
}

header {
    font-family: 'Josefin Slab', serif; /* Font used in header */
    font-size: 35pt; /* font size selected  */
    color: black; /* colour of font */
    background-color: white; /* This is the selected back-ground colour */
	text-align:center; /* aligning the header text to centre */
}
/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: lightslategray;
  font-family: Josefin Slab;
  font-weight: bold;
  

}

/* Links inside the navbar */
.navbar a {
  float: right;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}
/* This code below ia to set the hover colour */
.current {
	background-color: white;
}

/* The dropdown container */
.dropdown {
  float: right;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px; 
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: lightslategrey;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: lightslategray;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: lightslategray;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: gray;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}


section                        
{
	height: 60%; /* setting height too 500 pixels for the height of the section */
	font-family: Josefin Slab;/* This code is to set the font of the section*/
	background-color: white; /* setting back ground colout to white */
	text-align: left;/* This code is align text left  */
	color: black;/* This code is to set text black*/
	float: left; /* This code is float text left */
	padding-top:30px; /* This code is to set padding */
	padding-left: 1%;/* This code is to set padding */
	padding-right: 1%;/* This code is to set padding */
	


}
footer2
{
	height: 10%; /* setting height too 30 pixels for the height of footer2 */
	width: 98%; /* setting width too 98% */
	background-color: lightslategrey; /* setting back ground colour to black */
	color: black; /* setting colour of text too white */
	float: left; /* setting text float to left*/
	text-align: center; /* setting text alignment center*/
	padding-left: 1%; /* setting padding left too 1%*/
	padding-right: 1%; /* setting padding right too 1%*/
	font-family: Josefin Slab;/* This code is to set the font */
	font-weight: bold;/* This code is to set the font to bold */

	
	
}


/* unvisited link */
a:link {
    color: black;
}

/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    color: black;
}

/* selected link */
a:active {
    color: black;
}

/* the code below is to make images in an inline block */
.inline-block {
   display: inline-block;
}
/* This code is to set all needed for the scroll up button */
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}
/* This code is for the hover over on the button*/
#myBtn:hover {
  background-color: grey;
}
/* This code is for the media screen for large screens */
@media only screen and (min-width: 601px) {
	section{
		margin-left: 15%;
		margin-right: 15%;
	}
		p{
		padding-left: 3%;
		padding-right: 3%;
	
}
}
/* This code is the media screen for small devices */
@media only screen and (max-width: 600px) {
	section{
		margin-left: 5%;
		margin-right: 5%;
	}
	
	p{
		padding-left: 6%;
		padding-right: 6%;
	}
}

